<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Invitación">
    <meta property="og:title" content="Te invitamos a nuestra boda">
    <meta property="og:description" content="Te invitamos a nuestra boda">
    <meta property="og:image" content="./assets/casa.JPG">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./assets/casa.JPG">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/tablet.css">
    <link rel="stylesheet" href="css/phones.css">
    <link rel="stylesheet" href="css/small_phones.css">
    <script src="https://kit.fontawesome.com/098c87e7e6.js" crossorigin="anonymous"></script>

    <title>Bodorrio Mamalon</title>
</head>

<body>
    <div class="main-container">
        <span class="ourWedding animacion-fade">Mi bautizo</span>
        <img src="./assets/mainPicture.png" class="imageProfile animacion-fade" alt="">
        <p class="maintextCursive animacion-fade ">Raúl Alejandro </p>
        <p class="maintextCursive animacion-fade ">Alvarez Campa </p>
        <!-- <i class="fa-solid fa-sort-down fa-beat-fade fa-2x"></i> -->
    </div>

    <div class="lineIntermedia"></div>

    <div class="ouners ">
        <div class="divisorLine">
            <h2 class="cursiveText animacion-fade">Padres:</h2>

            <p class="cursiveText animacion-fade">Raúl Alvarez Jimenez</p>
            <p class="cursiveText animacion-fade">
                Alejandra Campa
            </p>
        </div>

        <div class="">
            <h2 class="cursiveText animacion-fade">Padrinos:</h2>

            <p class="cursiveText animacion-fade">Audry Alvarez Jimenez </p>
            <p class="cursiveText animacion-fade">Andres Zuniga Corona</p>
        </div>
    </div>

    <div class="date">

        <div class="date-info">
            <h1 class="ourWedding fade-down">Se acerca la fecha </h1>
            <p class="day">11 / 11 / 2023</p>

            <div class="time-container fade-down">
                <div>
                    <div class="circle" id="days"></div>
                    <p class="textTime">Dias</p>
                </div>

                <div>
                    <div class="circle" id="hours"></div>
                    <p class="textTime">Horas</p>
                </div>

                <div>
                    <div class="circle" id="minuts"></div>
                    <p class="textTime">Minutos</p>
                </div>

                <div>
                    <div class="circle" id="seconds"></div>
                    <p class="textTime">Segundos</p>
                </div>
            </div>
        </div>

    </div>

    <div class="place-container">

        <h1 class="textCursive">Evento Religioso</h1>

        <div class="place-container-columns">
            <div class="card">
                <img class="cardImage" src="./assets/iglesia.jpeg" alt="">
                <div class="cardColum1">
                    <p class="cardTitle fade-down">San Luis  obispo de Tolosa</p>
                    <p class="cardSubTitle fade-down"> 11 Noviembre 2023</p>
                    <p class="cardSubTitle fade-down">11:00 hrs.</p>
                    <p class="cardDescription fade-down">
                        Acompáñanos al bautizo de nuestro hijo Raúl alejandro Álvarez campa  en la parroquia San Luis  obispo de tolosa en Tlalmanalco estado de México.
                    </p>
                    <div class="cardAdress-columns fade-down">
                        <i class="fa-solid fa-house"></i><span>Pl. Juárez 56700, 56700 Tlalmanalco, Méx.</span>
                    </div>
                    <a href="https://maps.app.goo.gl/Pecu5ed9d1jjABe98" target="_blank"
                        class="cardButton fade-down">Indicaciones <i class="fa-solid fa-location-dot fa-beat"></i></a>
                </div>
            </div>
        </div>

    </div>

    <section class="confirmation">

        <div>
            <img src="../assets/profile2.JPG" class="" alt="">
            <h4 class="fade-down">¿Nos acompañarás?</h4>

            <p class="fade-down">
                Después de la misa, se les hace la cordial invitación para celebración que llevaremos acabó.
                Por favor, tómense un momento para confirmar su asistencia y hacer los planes adecuados para dicho evento.
            </p>
            <button onclick="window.location.href='https://wa.me/525525001623'" target="_blank" class="fade-down">Confirmar asistencia</button>
        </div>
    </section>

    <div class="instructions-container">
        <div class="instruccion-header">
            <p class="textCursive-right fade-down">Recomendaciones</p>
            <p class="instruccion-secondText resume fade-down">
                Queremos que disfrutes del evento, por ello te pedimos que tomes en cuenta lo siguiente..
                La celebración se llevará a cabo en un lugar abierto, considera ir con un buen abrigo para que disfrutemos de este día.
            </p>
        </div>
    </div>


    <!-- <div class="instruccion-header">
        <p class="textCursive-right fade-down">Hospedaje</p>
        <p class="instruccion-secondText resume fade-down">
            Sabemos que es un viaje largo y nos preocupa tu seguridad, por ello nos dimos a la tarea de
            investigar sobre algunos hoteles cercanos al salón de eventos. El cual podrás reservar. Recuerda solo es una
            sugerencia.
            Si deseas buscar otras opciones, puedes hacerlo.
        </p>

        <p class="instruccion-secondText resume fade-down">Contamos con algunas habitaciones libres, pregunta por
            disponibilidad.</p>
    </div> -->


<!-- 
    <div class="instructions-flex">

        <div class="hotelItems fade-down">
            <div class="hotelItems-header">
                <i class="fa-solid fa-bed"></i><span class="instruccion-titleText">Hotel Infinity</span>
            </div>
            <p class="instruccion-address">Circunvalación #105, 62915, 62915 Tequesquitengo, Mor.</p>
            <p class="instruccion-address">
                <i class="fa-solid fa-phone-volume"></i>
                <strong>+527343471379</strong>
            </p>
            <div class="hotelItems-button">
                <a class="mainButton">
                    <i class="fa-solid fa-location-dot"></i>Ver más detalles
                </a>
            </div>
        </div>

        <div class="hotelItems fade-down">
            <div class="hotelItems-header">
                <i class="fa-solid fa-bed"></i><span class="instruccion-titleText">Casa del Lago</span>
            </div>
            <p class="instruccion-address">Airbnb para 5 huespedes</p>
            <p class="instruccion-address">
                <i class="fa-solid fa-phone-volume"></i>
                <strong>+527343471379</strong>
            </p>
            <div class="hotelItems-button">
                <a class="mainButton"
                    href="https://www.airbnb.mx/rooms/925302947705887779?check_in=2023-09-09&check_out=2023-09-10&guests=1&adults=5&s=67&unique_share_id=8065acc1-5cd3-4f32-a5b9-3da115150d03">
                    <i class="fa-solid fa-location-dot"></i>Ver más detalles
                </a>
            </div>
        </div>

        <div class="hotelItems fade-down">
            <div class="hotelItems-header">
                <i class="fa-solid fa-bed"></i><span class="instruccion-titleText">Airbnb</span>
            </div>
            <p class="instruccion-address">Contratacion por Airbnb</p>
            <p class="instruccion-address">
                <i class="fa-solid fa-phone-volume"></i>
                <strong>+527343471379</strong>
            </p>
            <div class="hotelItems-button">
                <a class="mainButton"
                    href="https://www.airbnb.mx/rooms/22323595?check_in=2023-09-09&check_out=2023-09-10&guests=1&adults=3&s=67&unique_share_id=48e14713-2c31-488a-8f9e-c47263f1dc27"
                    target="_blank">
                    <i class="fa-solid fa-location-dot"></i>Ver más detalles
                </a>
            </div>
        </div>

        <div class="hotelItems fade-down">
            <div class="hotelItems-header">
                <i class="fa-solid fa-bed"></i><span class="instruccion-titleText">Airbnb</span>
            </div>
            <p class="instruccion-address">Opción perfecta para una familia, o hasta 13 personas. (Ubicación exacta
                al contratar)</p>
            <p class="instruccion-address">
                <i class="fa-solid fa-phone-volume"></i>
                <strong>+527343471379</strong>
            </p>
            <div class="hotelItems-button">
                <a class="mainButton"
                    href="https://www.airbnb.mx/rooms/887069559455339394?check_in=2023-09-09&check_out=2023-09-10&guests=1&adults=5&s=67&unique_share_id=30e25a0c-ab5c-4360-b099-b52234ed6dba"
                    target="_blank">
                    <i class="fa-solid fa-location-dot"></i>Ver más detalles
                </a>
            </div>
        </div>
    </div> -->

    <!-- <div class="container-gifts">
        <div class="row">
            <div class="col">
                <h2 class="textCursive-right fade-down">Obsequios</h2>
                <hr class="divider-line">

                <p class="instruccion-secondText fade-down">
                    Querida familia y amigos, queremos compartir con ustedes una sugerencia importante respecto a los
                    detalles que quisieran tener con nosotros, actualmente ya
                    contamos con lo necesario para nuestro nidito de amor y dado que pronto estaremos residiendo en otro
                    lugar, nos será complicado llevar todo con nosotros.
                </p>

                <p class="instruccion-secondText fade-down">
                    En caso de qué desees obsequiarnos algo, nos será de gran ayuda contar con algo monetario,
                    pondremos una cajita para que puedas colocar tu obsequio o algunas palabras para nosotros.
                </p>
                <p class="instruccion-secondText fade-down">
                    Entendemos que algunos pueden sentir que el regalo monetario carece de la calidez personal de un
                    obsequio físico, pero queremos enfatizar que apreciamos profundamente su amor y apoyo.
                </p>

                <p class="instruccion-secondText fade-down">
                    Nuestro mayor regalo es tener a todos nuestros seres queridos reunidos en este día tan especial.
                </p>
            </div>
        </div>
    </div> -->

    <!-- <section class="itinerario-container">
        <div class="itinerario-container-title">
            <h2 class="textCursive-right fade-down">Itinerario</h2>
            <hr class="divider-line">
        </div>

        <div class="image-container">
            <img src="./assets/itinerario.png" alt="Imagen" onclick="expandImage(this)">
        </div>
        <div class="overlay" onclick="closeImage()"></div>

    </section> -->

    <!-- <section class="gallery-container">

            <h2 class="textCursive-right fade-down">Nosotros</h2>

            <section class="gallery">
                <article class="card fade-down">
                   
                </article>
                <article class="card fade-down">
                </article>
                <article class="card fade-down">
                   
                </article>
                <article class="card fade-down">
                   
                </article>
                
            </section>    

        </section> -->


    <section class="container-spotify">

        <div class="container-spotify-title">
            <p class="textCursive-right fade-down">Música</p>
            <p class="instruccion-secondText resume fade-down">
                Si cuentas con una cuenta de Spotify, puedes agregar y escuchar la lista de reproducción que hemos
                creado para este día tan especial.
            </p>
        </div>

        <div class="container-spotify-link fade-down">
            <a href="https://spotify.link/bZvdyJuBUDb" target="_blank">
                <img src="./assets/spoty.png" alt="" class="playlist-icon">
            </a>
            <div class="music-player">
                <img src="./assets/sound.gif" alt="">
            </div>

        </div>

    </section>



    <div class="footer">
        <div class="row">
            <div class="col">
                <span>© 2023 by Joel Lozano.
            </div>
        </div>
    </div>

    <script defer src="js/index.js"></script>
</body>

</html>