<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Invitaci칩n">
    <meta property="og:title" content="Te invitamos a nuestra boda">
    <meta property="og:description" content="Te invitamos a nuestra boda">
    <meta property="og:image" content="./assets/casa.JPG">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./assets/casa.JPG">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/tablet.css">
    <link rel="stylesheet" href="css/phones.css">
    <link rel="stylesheet" href="css/small_phones.css">
    <script src="https://kit.fontawesome.com/098c87e7e6.js" crossorigin="anonymous"></script>

    <title>Bodorrio Mamalon</title>
</head>

<body>
    <div class="main-container">
        <span class="ourWedding animacion-fade">Nuestra Boda</span>
        <span class="maintextCursive animacion-fade ">Gabriela y Joel</span>
        <p class="description animacion-fade">Se parte de nuestra historia</p>
        <!-- <i class="fa-solid fa-sort-down fa-beat-fade fa-2x"></i> -->
    </div>

    <div class="date">

        <div class="date-info">
            <h1 class="ourWedding fade-down">Se acerca la fecha </h1>
            <p class="day">09 / 09 / 2023</p>

            <div class="time-container fade-down">
                <div>
                    <div class="circle" id="days"></div>
                    <p class="textTime">Dias</p>
                </div>

                <div>
                    <div class="circle" id="hours"></div>
                    <p class="textTime">Horas</p>
                </div>

                <div>
                    <div class="circle" id="minuts"></div>
                    <p class="textTime">Minutos</p>
                </div>

                <div>
                    <div class="circle" id="seconds"></div>
                    <p class="textTime">Segundos</p>
                </div>
            </div>
        </div>

    </div>

    <div class="place-container">

        <h1 class="textCursive fade-down">Lugar del evento</h1>

        <div class="place-container-columns">
            <div class="card fade-down">
                <img class="cardImage" src="./assets/casa.JPG" alt="">
                <div class="cardColum1">
                    <p class="cardTitle fade-down">Moroelos.</p>
                    <p class="cardSubTitle fade-down"> 20 Septiembre 2023</p>
                    <p class="cardSubTitle fade-down">14:00 hrs.</p>
                    <p class="cardDescription fade-down">
                        Celebraremos nuestra uni칩n en Tequesquitengo Morelos, en el siguiente enlace
                        podr치s consultar la direcci칩n en Google maps, en caso de que vayas en auto.
                    </p>
                    <div class="cardAdress-columns fade-down">
                        <i class="fa-solid fa-house"></i><span>Playa lind #14, Lago Constanza</span>
                    </div>
                    <a href="https://goo.gl/maps/2wrBmnB9VUYgfE3y9" target="_blank"
                        class="cardButton fade-down">Indicaciones <i class="fa-solid fa-location-dot fa-beat"></i></a>
                </div>
            </div>
        </div>

    </div>

    <section class="confirmation">

        <div>
            <img src="https://static01.nyt.com/images/2023/07/23/fashion/15TRADITIONS-PERSIAN-CEREMONY/15TRADITIONS-PERSIAN-CEREMONY-articleLarge.jpg?quality=75&auto=webp&disable=upscale" alt="">
            <h4 class="fade-down">쯅os acompa침ar치s?</h4>

            <p class="fade-down">Como comprender치n, la planificaci칩n de una boda requiere una organizaci칩n cuidadosa, y
                contar con la
                confirmaci칩n de asistencia de
                cada uno de ustedes es fundamental para poder hacer los arreglos necesarios y garantizar que todos
                disfrutemos
                al m치ximo de este d칤a tan significativo.
            </p>
            <p class="fade-down">
                Por favor, t칩mense un momento para confirmar su asistencia a nuestra boda. Les agradeceremos enormemente
                que me
                brinden esta
                informaci칩n tan importante antes del 25 Agosto. Esto nos ayudar치 a garantizar que todo est칠 listo y a
                asegurarnos de que
                cada uno de ustedes tenga un lugar reservado.
            </p>
            <button onclick="window.location.href='/confirmation'" class="fade-down" >Confirmar tu asistencia</button>
            <button onclick="window.location.href='/no-confirmation'" class="fade-down" >No podremos asistir 游눖</button>
            <button onclick="window.location.href='https://wa.me/'" target="_blank" class="fade-down" disabled>Whats
                de Gaby</button>
            <button onclick="window.location.href='https://wa.me/'" target="_blank" class="fade-down" disabled>Whats
                de Joel</button>
        </div>
    </section>

    <div class="instructions-container">
        <div class="instruccion-header">
            <p class="textCursive-right fade-down">Recomendaciones</p>
            <p class="instruccion-secondText resume fade-down">
                Queremos que disfrutes de nuestra boda, por ello te pedimos que tomes en cuenta lo siguiente..
                Morelos se conoce como la tierra de la eterna primavera, por lo que el clima es c치lido y soleado, por lo
                que recomendamos traer bloqueador solar, usar prendas ligeras y frescas, as칤 como calzado c칩modo, ya que
                la boda se llevar치 a cabo en un jard칤n, ten en cuenta que el clima puede variar en un momento dado, por
                lo que se recomienda traer un su칠ter o chamarra.
            </p>
        </div>

        <div class="row-recomendaciones">
            <div class="col">

                <div class="card-recomendations fade-down">
                    <div class="card-recomendations-title">
                        <span class=""><i class="fa-solid fa-clock ml-icon"></i> Llegada:</span>
                    </div>
                    <br>
                    <div>
                        <span class="container-recomendations-subtitle">
                            El acceso ser치 a partir de las 2:00 pm, la celebraci칩n dar치 inicio a las 3:00 pm. Te
                            recomendamos llegar con tiempo para que puedas disfrutar de la boda desde el inicio. El
                            evento terminar치 aproximadamente a las 9:00pm. Con el fin de que puedas regresar a casa sin
                            contratiempos en caso de que esa sea tu intenci칩n.
                        </span>
                    </div>
                </div>


                <div class="card-recomendations fade-down">
                    <div class="card-recomendations-title">
                        <i class="fa-solid fa-bed ml-icon"></i> Hospedaje:
                    </div>
                    <br>
                    <div>
                        <span class="container-recomendations-subtitle">
                            Si tu intenci칩n es quedarte una noche y disfrutar de Tequesquitengo, en la siguiente secci칩n
                            te dejamos algunas opciones para reservar, basta con presionar el bot칩n para ver su
                            ubicaci칩n y detalles.
                        </span>
                    </div>
                </div>

                <div class="card-recomendations fade-down">
                    <div class="card-recomendations-title">
                        <i class="fa-solid fa-circle-exclamation ml-icon"></i > Importante:
                    </div>
                    <br>
                    <div>
                        <span class="container-recomendations-subtitle">
                            En el lugar del evento habr치 alberca, por lo que te recomendamos tener cuidado con los ni침os
                            y no dejarlos solos, la alberca no estar치 disponible.
                        </span>
                    </div>
                </div>

                <!-- <div class="card-recomendations fade-down">
                        <div class="card-recomendations-title">
                            <i class="fa-solid fa-person-drowning ml-icon"></i>Alberca:
                        </div>
                        <br>
                        <div>
                            <span class="container-recomendations-subtitle">
                                En el lugar del evento habr치 alberca, por lo que te recomendamos tener cuidado con los ni침os y no dejarlos solos, la alberca no estara disponible durante la boda.
                                Sin embargo, si deseas hacer uso de ella, puedes hacerlo antes o despues de la boda. ( en caso de que te hospedes en lugar del evento).
                            </span>
                        </div>
                    </div> -->

                <div class="card-recomendations fade-down">
                    <div class="card-recomendations-title">
                        <i class="fa-solid fa-square-parking ml-icon"></i>Estacionamiento:
                    </div>
                    <br>
                    <div>
                        <span class="container-recomendations-subtitle">
                            El lugar cuenta con estacionamiento, por lo que no tendr치s que preocuparte por buscar un
                            lugar para estacionar tu veh칤culo.
                            Sin embargo, te recomendamos no dejar objetos de valor en tu veh칤culo.
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="instruccion-header">
        <p class="textCursive-right fade-down">Hospedaje</p>
        <p class="instruccion-secondText resume fade-down">
            Sabemos que es un viaje largo y nos preocupa tu seguridad, por ello nos dimos a la tarea de
            investigar sobre algunos hoteles cercanos al sal칩n de eventos. El cual podr치s reservar. Recuerda solo es una
            sugerencia.
            Si deseas buscar otras opciones, puedes hacerlo.
        </p>

        <p class="instruccion-secondText resume fade-down">Contamos con algunas habitaciones libres, pregunta por
            disponibilidad.</p>
    </div>



    <div class="instructions-flex">

        <div class="hotelItems fade-down">
            <div class="hotelItems-header">
                <i class="fa-solid fa-bed"></i><span class="instruccion-titleText">Hotel Infinity</span>
            </div>
            <p class="instruccion-address">Circunvalaci칩n #105, 62915, 62915 Tequesquitengo, Mor.</p>
            <p class="instruccion-address">
                <i class="fa-solid fa-phone-volume"></i>
                <strong>+527343471379</strong>
            </p>
            <div class="hotelItems-button">
                <a class="mainButton">
                    <i class="fa-solid fa-location-dot"></i>Ver m치s detalles
                </a>
            </div>
        </div>

        <div class="hotelItems fade-down">
            <div class="hotelItems-header">
                <i class="fa-solid fa-bed"></i><span class="instruccion-titleText">Casa del Lago</span>
            </div>
            <p class="instruccion-address">Airbnb para 5 huespedes</p>
            <p class="instruccion-address">
                <i class="fa-solid fa-phone-volume"></i>
                <strong>+527343471379</strong>
            </p>
            <div class="hotelItems-button">
                <a class="mainButton"
                    href="https://www.airbnb.mx/rooms/925302947705887779?check_in=2023-09-09&check_out=2023-09-10&guests=1&adults=5&s=67&unique_share_id=8065acc1-5cd3-4f32-a5b9-3da115150d03">
                    <i class="fa-solid fa-location-dot"></i>Ver m치s detalles
                </a>
            </div>
        </div>

        <div class="hotelItems fade-down">
            <div class="hotelItems-header">
                <i class="fa-solid fa-bed"></i><span class="instruccion-titleText">Airbnb</span>
            </div>
            <p class="instruccion-address">Contratacion por Airbnb</p>
            <p class="instruccion-address">
                <i class="fa-solid fa-phone-volume"></i>
                <strong>+527343471379</strong>
            </p>
            <div class="hotelItems-button">
                <a class="mainButton"
                    href="https://www.airbnb.mx/rooms/22323595?check_in=2023-09-09&check_out=2023-09-10&guests=1&adults=3&s=67&unique_share_id=48e14713-2c31-488a-8f9e-c47263f1dc27"
                    target="_blank">
                    <i class="fa-solid fa-location-dot"></i>Ver m치s detalles
                </a>
            </div>
        </div>

        <div class="hotelItems fade-down">
            <div class="hotelItems-header">
                <i class="fa-solid fa-bed"></i><span class="instruccion-titleText">Airbnb</span>
            </div>
            <p class="instruccion-address">Opci칩n perfecta para una familia, o hasta 13 personas. (Ubicaci칩n exacta
                al contratar)</p>
            <p class="instruccion-address">
                <i class="fa-solid fa-phone-volume"></i>
                <strong>+527343471379</strong>
            </p>
            <div class="hotelItems-button">
                <a class="mainButton"
                    href="https://www.airbnb.mx/rooms/887069559455339394?check_in=2023-09-09&check_out=2023-09-10&guests=1&adults=5&s=67&unique_share_id=30e25a0c-ab5c-4360-b099-b52234ed6dba"
                    target="_blank">
                    <i class="fa-solid fa-location-dot"></i>Ver m치s detalles
                </a>
            </div>
        </div>
    </div>

    <div class="container-gifts">
        <div class="row">
            <div class="col">
                <h2 class="textCursive-right fade-down">Obsequios</h2>
                <hr class="divider-line">

                <p class="instruccion-secondText fade-down">
                    Querida familia y amigos, queremos compartir con ustedes una sugerencia importante respecto a los
                    detalles que quisieran tener con nosotros, actualmente ya
                    contamos con lo necesario para nuestro nidito de amor y dado que pronto estaremos residiendo en otro
                    lugar, nos ser치 complicado llevar todo con nosotros.
                </p>

                <p class="instruccion-secondText fade-down">
                    En caso de qu칠 desees obsequiarnos algo, nos ser치 de gran ayuda contar con algo monetario,
                    pondremos una cajita para que puedas colocar tu obsequio o algunas palabras para nosotros.
                </p>
                <p class="instruccion-secondText fade-down">
                    Entendemos que algunos pueden sentir que el regalo monetario carece de la calidez personal de un
                    obsequio f칤sico, pero queremos enfatizar que apreciamos profundamente su amor y apoyo.
                </p>

                <p class="instruccion-secondText fade-down">
                    Nuestro mayor regalo es tener a todos nuestros seres queridos reunidos en este d칤a tan especial.
                </p>
            </div>
        </div>
    </div>

    <section class="itinerario-container">
        <div class="itinerario-container-title">
            <h2 class="textCursive-right fade-down">Itinerario</h2>
            <hr class="divider-line">
        </div>

        <div class="image-container">
            <img src="./assets/itinerario.png" alt="Imagen" onclick="expandImage(this)">
        </div>
        <div class="overlay" onclick="closeImage()"></div>

    </section>

    <!-- <section class="gallery-container">

            <h2 class="textCursive-right fade-down">Nosotros</h2>

            <section class="gallery">
                <article class="card fade-down">
                   
                </article>
                <article class="card fade-down">
                </article>
                <article class="card fade-down">
                   
                </article>
                <article class="card fade-down">
                   
                </article>
                
            </section>    

        </section> -->


    <section class="container-spotify">

        <div class="container-spotify-title">
            <p class="textCursive-right fade-down">M칰sica</p>
            <p class="instruccion-secondText resume fade-down">
                Si cuentas con una cuenta de Spotify, puedes agregar y escuchar la lista de reproducci칩n que hemos
                creado para este d칤a tan especial.
            </p>
        </div>

        <div class="container-spotify-link fade-down">
            <a href="# target="_blank">
                <img src="./assets/spoty.png" alt="" class="playlist-icon">
            </a>
            <div class="music-player">
                <img src="./assets/sound.gif" alt="">
            </div>

        </div>

    </section>



    <div class="footer">
        <div class="row">
            <div class="col">
                <span>춸 2023 by Joel Lozano.
            </div>
        </div>
    </div>

    <script defer src="js/index.js"></script>
</body>

</html>