<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/confirmation/confirmation.css">
    <title>thanks</title>
</head>

<body>

    <div class="confirmation-container">

        <div class="row">
            <div class="col">
                <h1 class="text-h1">Gracias por confirmar tu asistencia</h1>

                <p class="text-p">Nos vemos pronto</p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h2 class="text-h2"><%= thanks %></h2>
            </div>
        </div>
    </div>

    <footer>
        <p>© 2023 Joel Lozano</p>
    </footer>

</body>

</html>